{% extends "layouts/main.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/iniciosesion.css' %}">

<div class="d-flex m-5 p-5">
    <div class="d-flex">
        <h1 class="p-4">Iniciar Sesión</h1>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group my-3">
                <label> Usuario </label>
                <input type="text" class="form-control" name="username" placeholder="Usuario" style="width: 700px;">
            </div>
            <div class="form-group my-3">
                <label> Contraseña </label>
                <input type="password" class="form-control" name="password" placeholder="Password" style="width: 700px;">
            </div>
            <div>
                <a href="/registro">Aun no tengo cuenta</a>
            </div>
            <button class="btn btn-primary mt-3" type="submit">Inciar sesion</button>     
        </form>
    </div>
</div>


{% endblock %}

