{% extends "layouts/main.html" %}

{% block content %}



<div class="d-flex container justify-content-center">

<div class="my-5 p-5" style="border-width: 5px; border-style: solid; border-color: white; border-radius: 20px;">
<h1 style="text-decoration: underline;">Subir nueva pelicula</h1>
<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    

    <div class="form-group my-3">
        <label> Titulo </label>
        <div>
            {{form.title}}
        </div>
    </div>

    <div class="form-group my-3">
        <label> Genero </label>
        <div>
            {{form.genero}}
        </div>
    </div>

    <div class="form-group my-3">
        <label> Sinopsis </label>
        <div>
            {{form.sinopsis}}
        </div>
    </div>

    <div class="form-group my-3">
        <label> Director </label>
        <div>
            {{form.director}}
        </div>
    </div>

    <div class="form-group my-3">
        <label> Nacionalidad </label>
        <div>
            {{form.nacionalidad}}
        </div>
    </div>

    <div class="form-group my-3">
        <label> Poster </label>
        <div>
            {{form.image}}
        </div>
    </div>

    <div class="form-group my-3">
        <div>
            {{form.user}}
        </div>
    </div>


    <button class="btn btn-primary" type="submit">Enviar</button>
</form>
</div>
</div>

{% endblock %}